#wrap{
    width: 100%;
    height: auto;
    position: relative;
}








/* --------------------상단------------------- */
#header{
    width: 100%;
    height: 80px;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0);
    padding-left: 100px;
    padding-right: 50px;
    box-sizing: border-box;
    line-height: 80px;
    position: absolute;
    top: 0;
    left: 0;
}

#header .logo{
    float: left;
    font-size: 40px;
    font-weight: 900;
    /* color: rgb(125, 125, 125); */
}

#header .nav{
    float: right;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

#header .nav li{
}

#header .nav li a{
    font-size: 20px;
    color: #555;
}

#header .nav li.on a{
    font-weight: 900;
    border-bottom: 2px solid #6AB4E1;
    color: #6AB4E1;
}

#header .nav .line{
    width: 30px;
    height: 2px;
    background-color: black;
}

#total_box{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#total_box>div{
    position: absolute;
}











/* --------------------메인------------------- */
#main{
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100vh;
    background: url(../img/main_bg.png) no-repeat;
    padding: 300px 0;
    box-sizing: border-box;
}

#main_in{
    width: 100%;
    height: 300px;
    padding-left: 300px;
    box-sizing: border-box;
}

#main_in h2{
    font-size: 70px;
    font-weight: 900;
    line-height: 90px;
    color: #6AB4E1;
}













/* --------------------프로필------------------- */
#profile{
    /* z-index: 500; */
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

#profile_in{
    margin: 0 auto;
    width: 1000px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#profile_in .img_box{
    margin-right: 100px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: tomato;
}

#profile_in .txt_box{
    width: 500px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#profile_in .txt_box h3{
    font-size: 40px;
    font-weight: 900;
    line-height: 55px;
}

#profile_in .txt_box p{
    font-size: 25px;
    line-height: 35px;
}

#profile_in .site_box{
    width: 300px;
    height: 150px;
    display: flex;

}

#profile_in .site_box a{
    margin-right: 50px;
    display: block;
    width: 70px;
    height: 80px;
    text-align: center;
}

#profile_in .site_box img{
    margin-bottom: 15px;
    display: block;
    width: 70px;
}

#profile_in .site_box span{
    margin: 0 auto;
    display: block;
}










/* --------------------스킬------------------- */
#skill{
    width: 100%;
    height: 100vh;
    background: url(../img/bg4.png) no-repeat;
    padding-top: 300px;
    box-sizing: border-box;
}


















/* --------------------프로젝트------------------- */
#projects{
    width: 100%;
    height: 100vh;
    /* background-color: rgb(136, 178, 255); */
    background-color: #fff;
}















/* --------------------마치며------------------- */
#finish{
    width: 100%;
    height: 100vh;
    background: url(../img/finish_bg.png) no-repeat;
    text-align: center;
    line-height: 100vh;
}

#finish h3{
    font-size: 100px;
    font-weight: 900;
    color: #2992d3;
}








/* -----------------위아래이동버튼--------------- */
#move_btn{
    width: 100px;
    height: 50px;
    /* background-color: tomato; */
    z-index: 9999;
    position: absolute;
    left: 50%;
    bottom: 10px;
}

#move_btn img{
    display: block;
    width: 50px;
    height: 50px;
    opacity: 0.7;
    cursor: pointer;
}

#move_btn .up_btn{
    float: left;
    transform: rotate(-90deg);
}

#move_btn .down_btn{
    float: right;
    transform: rotate(90deg);
}