#wrap{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}


/* --------------------상단------------------- */
#header{
    width: 100%;
    height: 80px;
    z-index: 500;
    padding-left: 100px;
    padding-right: 50px;
    box-sizing: border-box;
    line-height: 80px;
    position: absolute;
    top: 0;
    left: 0;
}


#header .logo{
    float: left;
    font-size: 40px;
    font-weight: 900;
    cursor: pointer;
}

#header .nav{
    float: right;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

#header .nav li{
}

#header .nav li a{
    font-size: 20px;
    font-weight: 600;
    color: #555;
}

#header .nav li.on a{
    font-weight: 900;
    border-bottom: 2px solid #6AB4E1;
    color: #6AB4E1;
}

#header .nav li.on1 a{
    font-weight: 900;
    border-bottom: 2px solid #fff;
    color: #fff;
}

#header .nav .line{
    width: 30px;
    height: 2px;
    background-color: black;
}









/* --------전체 박스------ */
#total_box{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#total_box>div{
    z-index: 0;
    position: absolute;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
}











/* --------------------메인------------------- */
#main{
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(../img/main_bg.png) no-repeat  50% 0;
    padding: 300px 0;
    box-sizing: border-box;
}

#main_in{
    position: relative;
    width: 100%;
    height: 300px;
}

#main_in h2{
    position: absolute;
    left: 20%;
    font-size: 70px;
    font-weight: 900;
    line-height: 90px;
    color: #6AB4E1;
}













/* --------------------프로필------------------- */
#profile{
    width: 100%;
    height: 100vh;
    /* background-color: #fff; */
    background-image: linear-gradient(to top left, #fff1eb 0%, #ace0f9 100%);
}

#profile_ttl{
    display: none;
}

#profile_in{
    margin: 0 auto;
    width: 1000px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#profile_in .img_box{
    margin-right: 100px;
    width: 500px;
    height: 450px;
    border-radius: 50%;
    background: url(../img/IMG_20190131_133656_505.jpg) no-repeat 50% 100%;
    background-size: 500px;
}

#profile_in .txt_box{
    width: 500px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#profile_in .txt_box h3{
    font-size: 40px;
    font-weight: 900;
    line-height: 55px;
}

#profile_in .txt_box p{
    font-size: 25px;
    line-height: 35px;
}

#profile_in .site_box{
    width: 300px;
    height: 150px;
    display: flex;

}

#profile_in .site_box a{
    margin-right: 50px;
    display: block;
    width: 70px;
    height: 80px;
    text-align: center;
}

#profile_in .site_box img{
    margin-bottom: 15px;
    display: block;
    width: 70px;
}

#profile_in .site_box span{
    margin: 0 auto;
    display: block;
}










/* --------------------스킬------------------- */
#skill{
    width: 100%;
    height: 100vh;
    background: url(../img/blue-gf5c94b144_1920.jpg) no-repeat 50% 0;
    padding-top: 300px;
    box-sizing: border-box;
}


#skill_ttl{
    display: none;
}

#skill_in{
    margin: 0 auto;
    width: 1200px;
    height: auto;
}

#skill_in>ul{
    display: flex;
    justify-content: space-between;
}

#skill_in>ul>li{
    width: 200px;
    height: auto;
}
#skill_in .chart{
    position: relative;
}

#skill_in .chart>strong{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -15px;
    width: 50px;
    height: 30px;
    font-size: 30px;
    color: #fff;
}

#skill_in h5{
    margin: 20px 0;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    color: rgba(70,129,255,0.8);
}



/* 스킬 모바일용 */
#skill_in_m{
    display: none;
}

















/* --------------------프로젝트------------------- */
#projects{
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    box-sizing: border-box;
    background-image: linear-gradient(to top left, #fff1eb 0%, #ace0f9 100%);
    position: relative;
}

#projects_ttl{
    display: none;
}

#projects .left_btn{
    width: 50px;
    height: 50px;
    left: 200px;
    top: 50%;
    position: absolute;
    margin-top: -50px;
    cursor: pointer;
}

#projects .left_btn img{
    width: 50px;
    height: auto;
    transform: rotate(180deg);
}

#projects .right_btn{
    width: 50px;
    height: 50px;
    right: 200px;
    top: 50%;
    position: absolute;
    margin-top: -50px;
    cursor: pointer;
}

#projects .right_btn img{
    width: 50px;
    height: auto;
}

#projects_in{
    margin: 0 auto;
    width: 1200px;
    height: 700px;
    overflow: hidden;
}

#projects_in>ul{
    width: 4800px;
    height: 700px;
    display: flex;
}

#projects_in>ul>li{
    width: 1200px;
    height: 700px;
}

#projects_in>ul>li:nth-child(1){
    background-color: aqua;
}

#projects_in>ul>li:nth-child(2){
    background-color: violet;
}

#projects_in>ul>li:nth-child(3){
    background-color: thistle;
}

#projects_in>ul>li:nth-child(4){
    background-color: chartreuse;
}

















/* --------------------마치며------------------- */
#contact{
    width: 100%;
    height: 100vh;
    background: url(../img/finish_bg.png) no-repeat 50% 0;
    padding-top: 300px;
    text-align: center;
    position: relative;
}

#contact h3{
    font-size: 100px;
    font-weight: 900;
    color: #3888ff;
}

#contact .contact_box_open_btn{
    margin: 0 auto;
    margin-top: 50px;
    width: 150px;
    height: 150px;
    cursor: pointer;
    position: relative;
    background: url(../img/icon/cloud-computing_1.png) no-repeat 50% 0;
    background-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#contact .contact_box_open_btn span{
    margin-top: 20px;
    margin-left: -10px;
    color: rgb(99, 128, 255);
    font-size: 20px;
    font-weight: 600;
}
















#contact_box{
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 800;
    background-color: rgba(53, 53, 53, 0.8);
}

#contact_box .contact_box_close_btn{
    float: right;
    margin: 15px 15px;
    padding: 15px 15px;
    border-radius: 50%;
    background-color: #6AB4E1;
    color: #fff;
    font-size: medium;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#form{
    margin: 0 auto;
    margin-top: 200px;
    width: 500px;
    height: 500px;
    background-color: #6AB4E1;
    border-radius: 5%;
    padding: 15px;
    box-sizing: border-box;
}

#form>h5{
    margin-bottom: 10px;
    width: 100%;
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    border-bottom: 2px solid #fff;
}

#form .field {
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
}

#form input[type="text"], #form textarea {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 20px;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    margin-bottom: 10px;
    color: #fff;
}

#form input[type="text"]::placeholder, #form textarea::placeholder{
    color: #fff;
    opacity: 0.7;
}

#form #message{
    height: 200px;
    margin-bottom: 20px;
}

#form input[type="submit"] {
    margin: 0 auto;
    width: 200px;
    height: 50px;
    display: block;
    padding: 6px 30px;
    font-size: 20px;
    background-color: #4460AA;
    color: #fff;
    border: none;
    border-radius: 10px;
    }






